/* #wheel {
	background-color: #e5474b;
	color: #f2a3a5;
	background-image: url("../../images/wheel1.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-attachment: scroll;
	text-align: center;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	} */

	#wheel {
		background-image: url("../../images/wheel1.jpg");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: 80% 80%;
		background-position: center;
  
  		height:300vh;
	}
	
	.tooltip {
		position: absolute;
		top: 50%;
		left: 50%;
		display: inline-block;
		border-bottom: 1px dotted black;
	  }
	  
	  .tooltip .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -60px;
		opacity: 0;
		transition: opacity 0.3s;
	  }
	  
	  .tooltip .tooltiptext::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: #555 transparent transparent transparent;
	  }
	  
	  .tooltip:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	  }